
.navbar-transparent {
    background-color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .navbar-scrolled {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  /* Adjust padding and margin as needed */
  .navbar-brand img {
    height: 40px;
    width: auto;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
  }
  
