.navbar-transparent {
  background-color: blue;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
}

.navbar-scrolled {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: blue;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.nav-link, .navbar-brand {
  padding: 0.5rem 1rem;
  color: white;
  transition: color 0.3s;
}

.navbar-scrolled .nav-link, .navbar-scrolled .navbar-brand {
  color: blue !important;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-scrolled .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
